@charset "utf-8";

.mainSlide .swiper-slide{position:absolute;top:0;left:0;height:100%}
.mainSlide .ie-page{position:absolute;bottom:20px;left:28px;z-index:10;width:auto}
.mainSlide .ie-page .contNum{display:inline-block;width:10px;height:10px;margin-right:7px;background-color:#fff;-webkit-border-radius:50%;border-radius:50%;font-size:0;color:transparent;white-space:nowrap}
.mainSlide .ie-page .contNum.on{width:35px;background-color:#424242;-webkit-border-radius:7px;border-radius:7px}
.mainSrv .swiper-slide{position:absolute;top:0;left:0}
.mainSrv.grid .swiper-slide{position:relative;top:auto;left:auto;}

.mainSrv .ie-page{position:absolute;bottom:30px;left:0;z-index:10;width:100%;text-align:center}
.mainSrv .ie-page .contNum{display:inline-block;width:8px;height:8px;margin-right:7px;background-color:#c8c8c8;-webkit-border-radius:50%;border-radius:50%;font-size:0;color:transparent;white-space:nowrap}
.mainSrv .ie-page .contNum.on{background-color:#ef002c}