html,
body {
  margin: 0;
  padding: 0;
}

.canvas-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.canvas-wrap button {
  margin-top: 20px;
}

#clock {
  background-color: #333;
}
