@charset "utf-8";

/* main */
.mainCt{padding:0 !important}
.mainCt:after{display:block;clear:both;content:''}

.main_btn_more{width:23px;height:23px;line-height:19px;border:1px solid #727272;background-color:#fff;text-align:center}
.main_btn_more i{width:7px;height:13px;background-position:-92px 0}
.main_btn_more2{color:#aaa}

.mainRandom{position:relative;height:216px;overflow:hidden}
.mainRandom .scene{display:none;position:relative;width:100%;height:100%;padding:25px 0 0 25px;background-size:100% 100%}
.mainRandom .scene img{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%}
.mainRandom .scene h2{font-family:'NanumSquare';font-size:24px;color:#3b3b3b}
.mainRandom .scene p{margin-top:10px}

.mainSrv{display:none;position:relative}
.mainSrv .swiper-page{display:none;position:absolute;bottom:30px;left:0;z-index:10;width:100%;text-align:center}
.mainSrv .swiper-pagination-bullet{width:8px;height:8px;margin-right:7px;background-color:#c8c8c8;-webkit-border-radius:50%;border-radius:50%;font-size:0;color:transparent;white-space:nowrap;opacity:1;filter:alpha(opacity=100)}
.mainSrv .swiper-pagination-bullet-active{background-color:#ef002c}
.mainSrv i{background-image:url(../../resources/images/w_main_ico.png);background-size:auto 56px;display:inline-block;vertical-align:middle;font-size:0;color:transparent;white-space:nowrap;height:50px;}
.mainSrv .ico1{width:56px;background-position:0 -1px}
.mainSrv .ico2{width:68px;background-position:-57px -2px}
.mainSrv .ico3{width:54px;background-position:-123px 0}
.mainSrv .ico4{width:54px;background-position:-179px -1px}
.mainSrv .ico5{width:59px;background-position:-227px 0}
.mainSrv .ico6{width:56px;background-position:-291px 0}
.mainSrv .ico7{width:92px;background-position:-566px 0}
.mainSrv .ico8{width:54px;background-position:-424px 0}
.mainSrv .swiper-slide{width:100%;text-align:center}
.mainSrv h2{display:none;position:absolute;top:35px;left:0;z-index:10;width:100%;text-align:center;font-family:'NanumSquare';font-size:26px;color:#3b3b3b}
.mainSrv h2 i{display:inline-block;width:44px;height:2px;margin-top:5px;vertical-align:top}
.mainSrv .swiper-slide a{display:block}
.mainSrv .txt{display:block;margin-top:17px;font-size:13px;font-weight:bold;color:#444}
.mainSrv .txt2{display:none;font-size:14px;color:#5e5e5e}
.mainSrv ul:first-of-type{border-top:0}
.mainSrv.grid{display:block}
.mainSrv.grid .swiper-wrapper{display:block}
.mainSrv.grid>div:after{display:block;clear:both;content:''}
.mainSrv.grid .swiper-slide{float:left;width:33.3% !important;border-bottom:1px solid #d6d6d6;border-right:1px solid #d6d6d6}
.mainSrv.grid .swiper-slide a{height:158px;padding-top:40px;text-align:center}
.mainSrv.grid .swiper-slide:nth-child(3n){width:33.4%;border-right:0}
.mainSrv.grid .swiper-slide:nth-child(7),
.mainSrv.grid .swiper-slide:nth-child(8){display:none;}

.mainNews{position:relative;padding:30px 28px;background-color:#ececec}
.mainNews h2{font-family:'NanumSquare';font-size:22px;color:#3b3b3b}
.mainNews .sbj{font-size:15px;color:#303030;max-width:100%}
.mainNews pre{margin-top:4px;color:#5e5e5e;-webkit-line-clamp:2;line-height:1.4;height:31px}
.mainNews .main_btn_more{position:absolute;top:32px;right:27px}
.mainNews li{margin-top:13px}

.mainLocal{padding:45px 15px;background-image:url(../../resources/images/m_main_local.png);background-size:cover;text-align:center}
.mainLocal h2{font-family:'NanumSquare';line-height:1.4;font-size:22px;color:#fff}
.mainLocal p{font-size:14px;color:#fff}
.mainLocal ul{display:table;margin:44px auto 0}
.mainLocal li{display:table-cell;padding-left:18px}
.mainLocal li a{position:relative;display:block;width:80px;line-height:80px;background-color:#828282;-webkit-border-radius:50%;border-radius:50%;font-size:15px;color:#fff}
.mainLocal li a:before{display:none;content:'';position:absolute;top:22px;left:50%;margin-left:-7px;width:13px;height:2px;background-color:#fff}
.mainLocal li:first-child{padding-left:0}
.mainLocal li:first-child a{background-color:#cc2544;font-weight:bold}
.mainLocal li:first-child a:before{display:block}

.mainSkill{display:none;margin-top:385px;padding-right:0;height:287px;background-color:#f4ede7; background-image:url(../../resources/images/w_main_skill.png);background-size:100%;background-position:bottom;background-repeat:no-repeat;}
.mainSkill h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
.mainSkill p{height:110px;font-size:12px;color:#484848}
.mainSkill a{display:inline-block;margin-right:8px;margin-bottom:10px;padding:0 19px;line-height:34px;-webkit-border-radius:20px;border-radius:20px;border:2px solid #444;background-color:#fff;font-weight:bold}

.mainNoti{display:none;position:relative;height:214px}
.mainNoti h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
.mainNoti .main_btn_more{position:absolute;top:45px;right:43px}
.mainNoti .sbj{font-size:14px;color:#484848;max-width:100%}
.mainNoti pre{margin-top:3px;font-size:13px;color:#919191;-webkit-line-clamp:2;line-height:1.5;height:40px}
.mainNoti pre *{font-size:13px !important;text-align:left !important;}
.mainNoti li{margin-top:12px;padding-top:12px;border-top:1px solid #d6d6d6}
.mainNoti li:first-child{margin-top:0;padding-top:0;border-top:0}

.mainCulture{display:none;height:340px}
.mainCulture img{height:100%}
.mainCulture h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
.mainCulture pre{margin:20px 0 5px;font-size:13px;-webkit-line-clamp:3;line-height:1.4;height:57px}

.mainStock{display:none;position:relative;height:159px}
.mainStock .info{width:50%;height:95px;margin-left:20px;padding-top:18px;font-size:13px;color:#313131}
.mainStock .info li{margin-top:7px;padding-top:7px;border-top:1px solid #d6d6d6}
.mainStock .info li:after{display:block;clear:both;content:''}
.mainStock .info li:first-child{margin-top:0;padding-top:0;border-top:0}
.mainStock .info strong{float:left}
.mainStock .info b{float:right}
.mainStock .info b i{display:inline-block;vertical-align:middle;margin-right:4px;font-size:12px}
.mainStock .total{display:block;position:absolute;top:54px;left:62%;font-size:30px;font-family:'frutiger65bold';color:#323433}
.mainStock .total i{display:inline-block;margin-right:2px;font-size:12px}
.mainStock .total i.up{color:#cd0808}
.mainStock .total i.down{color:#2d63eb}
.mainStock .link{margin-top:18px;background-color:#f2f2f2;border-top:1px solid #d6d6d6}
.mainStock .link:after{display:block;clear:both;content:''}
.mainStock .link li{float:left;width:36%}
.mainStock .link li a{display:block;line-height:45px;text-align:center;font-size:12px;color:#5f5f5f}
.mainStock .link li:first-child{width:64%;border-right:1px solid #d6d6d6}
.mainStock .link .ico_bu2{display:none}

.mainVision{display:none}
/*.mainPublic{display:none}*/
.mainPublic{display:none;position:relative;}
.mainPublic h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
.mainFb{display:none}

.activity_img{margin:40px 0 25px;text-align:center}
.activity_img h4{position:relative;margin-bottom:10px;padding-top:7px;text-align:left;font-size:21px;color:#111}
.activity_img h4:before{content:'';display:inline-block;width:19px;height:2px;position:absolute;top:0;left:0;background-color:#e60013}
.activity_img .wb{display:none}
.activity_img2{margin:40px 0 25px}
.activity_img2 .wb{display:none}

.about_intro{margin-top:58px;line-height:1.4;font-size:13px}
.about_intro .stit{position:relative;padding-top:4px;font-size:21px;color:#111}
.about_intro .stit:before{content:'';display:inline-block;width:19px;height:2px;position:absolute;top:0;left:0;background-color:#e60013}
.about_intro .txt{margin:4px 0 25px;font-weight:bold;font-size:12px;color:#111}
.about_intro .txt2, .about_intro .txt3{color:#111}
.about_intro .box{margin-top:20px}
.about_intro .list{position:relative;margin-top:25px;border-top:2px solid #e60013}
.about_intro .list:before{content:'';display:inline-block;height:2px;position:absolute;top:-2px;left:0;background:url(../../resources/images/table_line3_bg.gif) repeat-y 100% 0}
.about_intro .list:before, .about_intro .list th{width:95px}
.about_intro .list table{width:100%}
.about_intro .list th, .about_intro .list td{padding-top:10px;padding-bottom:10px;font-size:12px;color:#5b5b5b}
.about_intro .list th{margin-right:5px;padding-left:7px;font-weight:normal;text-align:left;background:url(../../resources/images/table_line_bg.gif) no-repeat 100% 100%}
.about_intro .list td{padding-right:12px;padding-left:12px;background:url(../../resources/images/table_line2_bg.gif) repeat-x 0 100%}
.about_intro .list2 li{margin-top:28px;border-top:2px solid #e60013;border-bottom:1px solid #d6d6d6;font-size:12px;color:#5b5b5b}
.about_intro .list2 li p{padding:15px 10px;line-height:1.5}
.about_intro .list2 .tit{display:block;padding:11px 7px;background-color:#ececec;color:#111}
.about_intro .list2 .tit b{color:#e60013}

.about_history{position:relative;border-top:2px solid #e60013}
.about_history:before{content:'';display:inline-block;height:2px;position:absolute;top:-2px;left:0;background:url(../../resources/images/table_line3_bg.gif) repeat-y 100% 0}
.about_history th, .about_history:before{width:95px}
.about_history table{width:100%}
.about_history th, .about_history td{}
.about_history th{background:url(../../resources/images/table_line_bg.gif) no-repeat 100% 100%}
.about_history th strong{display:inline-block;width:70px;height:63px;line-height:63px;background-image:url(../../resources/images/m_com.png);background-size:360px auto;background-position:-195px -39px;text-align:center;font-weight:bold;font-size:19px;color:#575757}
.about_history td{background:url(../../resources/images/table_line2_bg.gif) repeat-x 0 100%;vertical-align:top}
.about_history li{position:relative;padding:10px 8px 10px 45px;border-top:1px solid #d6d6d6}
.about_history li:first-child{border-top:0}
.about_history li.sub{padding-left:46px}
.about_history li .month{position:absolute;top:10px;left:8px;color:#242424}

.about_context{margin-top:25px;line-height:1.4;font-size:13px}

/* CI 메뉴 추가 */
.about_ci .about_intro .stit{margin-bottom:20px}
.ci_left{width:100%;}
.ci_right{width:100%;}
.ci_left{margin-bottom:40px}
.ci_img{display:none}
.ci_download{margin-top:30px;text-align:center}
.ci_download img{width:48%;}
.m_ci_img{display:block}

.about_biz{color:#464646}
.about_biz>p{font-size:13px;color:#464646}
.about_biz h2{margin-bottom:4px;line-height:1.3;font-size:13px}
.about_biz ul{margin-top:10px;border-top:2px solid #e60013}
.about_biz li{padding:20px 0;border-bottom:1px solid #d6d6d6}
.about_biz li:after{display:block;clear:both;content:''}
.about_biz .thum{overflow:hidden;float:left;width:122px;border:1px solid #d9d9d9}
.about_biz .context{overflow:hidden;padding-left:15px;line-height:1.4}
.about_biz .context p{position:relative;padding-left:7px}
.about_biz .context i{position:absolute;top:0;left:0}

.about_bizReport{margin-bottom:25px;text-align:center}
.about_bizReport hgroup{position:relative;margin-bottom:15px;padding-bottom:15px;font-family:'NanumSquare';font-weight:bold;font-size:12px;color:#4a4a4a}
.about_bizReport hgroup h4{font-size:24px}
.about_bizReport hgroup:after{content:'';display:inline-block;width:17px;height:1px;position:absolute;bottom:0;left:50%;margin-left:-8px;background-color:#e60000}
.about_bizReport .wb{display:none}

.about_map{margin-top:40px}
.about_map .list{position:relative;margin-top:20px;border-top:2px solid #e60013}
.about_map .list:before{content:'';display:inline-block;height:2px;position:absolute;top:-2px;left:0;background:url(../../resources/images/table_line3_bg.gif) repeat-y 100% 0}
.about_map .list th, .about_map .list:before{width:85px}
.about_map .list table{width:100%}
.about_map .list th, .about_map .list td{padding-top:7px;padding-bottom:7px;font-size:12px;color:#5b5b5b}
.about_map .list th{margin-right:5px;padding-left:7px;font-weight:normal;text-align:left;background:url(../../resources/images/table_line_bg.gif) no-repeat 100% 100%}
.about_map .list td{padding-right:12px;padding-left:12px;background:url(../../resources/images/table_line2_bg.gif) repeat-x 0 100%}
.about_map h4{position:relative;margin-top:40px;padding-top:4px;font-size:18px}
.about_map h4:before{content:'';display:inline-block;width:19px;height:2px;position:absolute;top:0;left:0;background-color:#e60013}
.about_map .subway{position:relative;margin-top:15px;padding-left:15px;line-height:1.4}
.about_map .subway i{position:absolute;top:1px;left:0;width:12px;height:16px;background-position:-297px -39px}
.about_map .subway .stit{display:block;margin-bottom:4px;font-size:13px;color:#5b5b5b}

.service_visual{position:relative;font-size:17px;color:#333;background-repeat:no-repeat;background-position:50% 0}
.service_visual h4{font-size:28px}
.service_visual .txt{margin-top:20px;font-weight:bold;font-size:14px;line-height:1.4}
.service_visual .txt strong{color:#e60013}
.service_visual .txt2{margin-top:10px;font-weight:bold;font-size:16px;line-height:1.4}
.service_visual .txt2 strong{color:#e60013}
.service_visual .logo{width:163px;height:23px;margin:10px 0 15px;background-position:-29px -108px;color:transparent;white-space:nowrap}

.service_visual.pns{padding-top:205px;background-image:url(../../resources/images/m_service_pns_img.png);background-size:380px auto}
.service_visual.pns img.web{display:none}
.service_visual.lop{padding-top:180px;background-image:url(../../resources/images/service_lop_img.png);background-size:280px auto}
.service_visual.sepay{padding-top:165px;background-image:url(../../resources/images/service_sepay_img.png);background-size:380px auto}
.service_visual.smemo{padding-top:175px;background-image:url(../../resources/images/service_smemo_img.png);background-size:220px auto}
.service_visual.stock{padding-top:220px;background-image:url(../../resources/images/service_stock_img.png);background-size:280px auto}
.service_visual.dsagun{padding-top:190px;padding-bottom:10px;background-image:url(../../resources/images/service_dsagun_img.png);background-size:460px auto}
.service_visual.memu{padding-top:190px;background-image:url(../../resources/images/service_memu_img.png);background-size:100% auto;background-position:top -20px center;}
.service_visual.info{padding-bottom:50;background-image:url(../../resources/images/service_info_img.png);background-position:100% 0}

.service_visual.super{padding-top:220px;background-image:url(../../resources/images/service_super.png);background-size:250px auto}
.service_visual.land_guard{padding-top:220px;background-image:url(../../resources/images/service_land_guard.png);background-size:310px auto}
.service_visual.walhouse{padding-top:264px;background-image:url(../../resources/images/service_walhouse.png);background-size:250px auto}
.service_visual.info{padding-top:264px;background-image:url(../../resources/images/service_info.png);background-size:266px auto;background-position:46% 0}
.service_visual.sfcash{padding-top:264px;background-image:url(../../resources/images/service_sfcash.png);background-size:266px auto;background-position:46% 0}
.service_visual.shoppingcare{padding-top:226px;background-image:url(../../resources/images/service_shoppingcare.png);background-size:290px auto;background-position:46% 0}
.service_visual.tior{padding-top:290px;background-image:url(../../resources/images/service_tior.png);background-size:318px auto;background-position:22% -3px}
.service_visual.apt {position:relative;padding-top:290px}
.service_visual.apt:after{content:'';position:absolute;top:-27px;right:auto;left:50%;transform:translateX(-50%);width:400px;height:323px;background:url(../../resources/images/service_apt.png) no-repeat;background-size:100% auto;}
.service_visual.apt h4,
.service_visual.apt .txt {position:relative;z-index:2;}

.service_context{line-height:1.5}
.service_context, .service_context h5{font-size:13px;color:#5a5a5a}
.service_context h4{position:relative;margin:35px 0 10px;padding-top:4px;font-size:18px;color:#111}
.service_context h4:before{content:'';display:inline-block;width:19px;height:2px;position:absolute;top:0;left:0;background-color:#e60013}
.service_context hgroup{margin:35px 0 10px}
.service_context hgroup h4{margin:0}
.service_context hgroup p{margin-top:0}
.service_context .txt, .service_context .txt2{font-size:13px;color:#5a5a5a}
.service_context .txt{font-weight:bold}
.service_context .txt2{margin-top:20px}
.service_context .txt2 strong{font-weight:normal}
.service_context .txt3{margin-top:10px;font-size:12px}
.service_context .txt3 strong{display:block;font-size:14px;color:#000}
.service_context .list li{position:relative;padding-left:8px}
.service_context .list li i{position:absolute;top:0;left:0}
.service_context .list li.ty{padding-left:0}
.service_context ol.list li{position:relative;padding-left:15px}
.service_context .list2{display:table;width:100%}
.service_context .list2>li{position:relative;margin-top:18px;border-top:2px solid #e60013;border-bottom:1px solid #d6d6d6;font-size:12px}
.service_context .list2>li:first-child{margin-top:0}
.service_context .list2 h5{margin-top:0;background-color:#eee;border-bottom:1px solid #d6d6d6;text-align:center;padding:8px 0;font-size:14px;color:#242424}
.service_context .list2>li p, .service_context .list2 .list{padding:15px 8px}
.service_context .point_list{text-align:center;display:flex;}
.service_context .point_list:after{display:block;clear:both;content:''}
.service_context .point_list li, .service_context .point_list li p{font-size:12px;color:#424242}
.service_context .point_list li{position:relative;float:left;width:50%;height:130px;margin-top:32px}
.service_context .point_list li:after{content:'';display:inline-block;width:22px;height:37px;position:absolute;left:-10px;top:50%;margin-top:-18px;background-image:url(../../resources/images/m_com.png);background-size:360px auto;background-position:-275px -62px}
.service_context .point_list li:first-child{padding-left:0 !important}
.service_context .point_list li:nth-child(3), .service_context .point_list li:nth-child(5){padding-left:0}
.service_context .point_list li:nth-child(3):after, .service_context .point_list li:nth-child(5):after{display:none}
.service_context .point_list li:first-child:after{display:none}
.service_context .point_list li i{display:inline-block;vertical-align:middle;width:81px;height:81px;background-image:url(../../resources/images/m_service_icon.png);background-size:360px auto}
.service_context .point_list li h5{margin:10px 0 5px;font-size:15px;color:#424242}
.service_context .point_list li p{margin-top:10px;line-height:1.3;font-size:15px;font-weight:bold}
.service_context .point_list .ico1{background-position:0 0}
.service_context .point_list .ico2{background-position:-90px 0}
.service_context .point_list .ico3{background-position:-180px 0}
.service_context .point_list .ico4{background-position:-270px 0}
.service_context .point_list .ico5{background-position:0 -96px}
.service_context .point_list .ico6{background-position:-90px -95px}
.service_context .point_list .ico7{background-position:-180px -96px}
.service_context .point_list .ico8{background-position:-270px -96px}
.service_context .point_list .ico9{background-position:0 -190px}
.service_context .point_list .ico10{background-position:-90px -190px}
.service_context .point_list .ico11{background-position:-181px -189px}
.service_context .point_list .ico12{background-position:-271px -189px}
.service_context .point_list .ico13{background-position:0 -285px}
.service_context .point_list .ico14{background-position:-90px -285px}
.service_context .point_list .ico15{background-position:-180px -283px}
.service_context .point_list .ico16{background-position:-271px -381px}
.service_context .point_list .ico17{background-position:-90px -381px}
.service_context .point_list .ico18{background-position:-90px -381px}
.service_context .point_list .ico19{background-position:-180px -381px}
.service_context .point_list .ico20{background-position:-271px -381px}
.service_context .point_list .ico21{background-position:0 -476px}
.service_context .point_list .ico22{background-position:-90px -476px}
.service_context .point_list .ico23{background-position:-181px -476px}
.service_context .point_list .ico24{background-position:-271px -476px}
.service_context .point_list .ico25{background-position:0 -572px}
.service_context .point_list .ico26{background-position:-90px -572px}
.service_context .point_list .ico27{background-position:-181px -572px}
.service_context .point_list .ico28{background-position:-271px -572px}

.service_context .timetable{margin-top:25px}
.service_context .timetable:after{display:block;clear:both;content:''}
.service_context .timetable>li{float:left;width:50%}
.service_context .timetable>li:nth-child(3){clear:both}
.service_context .timetable>li:nth-child(3), .service_context .timetable>li:nth-child(4){padding-top:20px}
.service_context .timetable h5{margin-bottom:5px;line-height:1.3;font-size:12px;color:#262626}
.service_context .timetable h5, .service_context .timetable .list{padding:0 6px}
.service_context .timetable .list li{font-size:12px}
.service_context.smemo .point_list li{height:160px}
.service_context.dsagun .point_list li{height:163px}
.service_context.memu .point_list li{height:181px}
.service_caution_list{margin-top:30px}
.service_caution_list li{font-size:13px;color:#5a5a5a}

.welfare_list{position:relative;margin-top:25px;border-top:2px solid #e60013}
.welfare_list:before{content:'';display:inline-block;width:95px;height:2px;position:absolute;top:-2px;left:0;background:url(../../resources/images/table_line3_bg.gif) repeat-y 100% 0}
.welfare_list .list{width:100%}
.welfare_list .list th, .welfare_list .list td{padding-top:10px;padding-bottom:10px;font-size:12px;color:#424242}
.welfare_list .list th{width:95px;margin-right:5px;padding-left:7px;text-align:left;background:url(../../resources/images/table_line_bg.gif) no-repeat 100% 100%}
.welfare_list .list td{padding-right:12px;padding-left:12px;background:url(../../resources/images/table_line2_bg.gif) repeat-x 0 100%}

.sitemap h1{position:relative;padding-top:7px;font-size:21px;color:#111}
.sitemap h1:before{content:'';display:inline-block;width:19px;height:2px;position:absolute;top:0;left:0;background-color:#e60013}
.sitemap h2{font-size:14px;color:#111}
.sitemap ul{margin-top:25px}
.sitemap ul:after{display:block;clear:both;content:''}
.sitemap li{float:left;width:45%;padding-right:10px}
.sitemap li.m1, .sitemap li.m4{width:35%}
.sitemap li.m3{width:20%}
.sitemap ul ul{margin-top:7px}
.sitemap li li{float:none;width:auto !important;padding-right:0}
.sitemap li li a{display:block;line-height:24px}
.sitemap .bn{margin-top:35px}

.error{text-align:center;margin:60px 0 100px 0;}
.error .ico_error img{width:80px;}
.error h3{font-size:20px;margin:30px 0 10px 0;color:#333;letter-spacing:-2px}
.error h3 strong{color:#e60013}
.error p{font-size:14px;width:80%;margin:0 auto 40px auto;letter-spacing:-1px}
.error p span{display:block;}


/*** Device Width 360 More ***/
@media all and (min-width:360px) {
	.service_context .timetable>li{width:25%}
	.service_context .timetable>li:nth-child(3){clear:none}
	.service_context .timetable>li:nth-child(3), .service_context .timetable>li:nth-child(4){padding-top:0}
}

@media all and (min-width:520px) {
	.service_visual.pns{padding:34px 0 8px;background-position:220px 0}
	.service_visual.lop{padding:11px 0 0;background-position:100% 0}
	.service_visual.sepay{padding:11px 0 0;background-position:100% 0}
	.service_visual.smemo{padding:0 0 16px;background-position:100% 0}
	.service_visual.stock{padding:15px 0 47px;background-position:100% 100%}
	.service_visual.dsagun{padding:15px 0 25px;background-position:100% 24px;background-image:url(../../resources/images/service_dsagun_img2.png);background-size:360px auto;}
	.service_visual.memu{padding:15px 0 12px;background-position:100% 0;background-size: 300px auto;}

}

@media all and (min-width:700px) {
	/* CI 메뉴 추가 */
	.ci_left{width:48%;float:left}
	.ci_right{width:48%;float:right;text-align:right;}
	.ci_img{display:block}
	.m_ci_img{display:none}
}

/*** Tablet Device ***/
@media all and (min-width:769px) {
	.mainCt{position:relative;margin:0 15px !important;padding:15px 0 0 !important;border:0 !important}
	.mainCt h2{padding-top:20px;padding-bottom:10px}
	.main_btn_more{border-color:#d8d8d8}
	.main_btn_more i{background-position:-129px 0}
	.mainCt .ico_com{background-image:url(../../resources/images/w_com.png);background-size:auto auto}
	.mainCt .ico_bu2{width:5px;height:8px;background-position:-211px 0;margin:-1px 4px 0 0}
	.mainCt .ico_earth{width:18px;height:18px;background-position:-155px 0;margin:-2px 6px 0 0}
	.mainCt .ico_awd{width:18px;height:16px;background-position:-183px 0;margin:-2px 6px 0 0}
	.mainRandom{position:absolute;top:15px;left:0;z-index:10;width:69.5%;height:333px;border:1px solid #d6d6d6;border-right:0}
	.mainRandom .scene h2{padding-top:0;font-size:34px}
	.mainRandom .scene p{font-size:14px}
	.mainRandom .swiper-page{bottom:30px !important}
	.mainSkill, .mainNoti, .mainCulture, .mainStock, .mainVision, .mainPublic, .mainFb{display:block}
	.mainSrv{display:block;overflow:hidden;height:331px;border-top:1px solid #d6d6d6}
	.mainSrv .swiper-page{display:block}
	.mainSrv i{background-image:url(../../resources/images/w_main_ico.png);background-size:auto auto;height:83px;margin-top:86px;}
	.mainSrv .ico1{width:95px;background-position:6px -1px;}
	.mainSrv .ico2{width:104px;background-position:-97px -3px;}
	.mainSrv .ico3{width:94px;background-position:-200px 0;}
	.mainSrv .ico4{width:88px;background-position:-293px -1px}
	.mainSrv .ico5{width:95px;background-position:-373px 0;}
	.mainSrv .ico6{width:92px;background-position:-478px 0;}
	.mainSrv .ico7{width:97px;background-position:-564px 0;}
	.mainSrv .ico8{width:92px;background-position:-751px 0}
	.mainSrv .img{position:relative;overflow:hidden;height:333px;border-width:1px 0 1px 0;border-style:solid;border-color:#d6d6d6}
	.mainSrv h2{display:block;top:14px}
	.mainSrv .txt{margin:16px 0 7px;font-size:16px}
	.mainSrv .txt2{display:block}
	.mainSrv.grid{display:none}
	.mainSrv .swiper-page{bottom:20px !important}
	.mainSrv.grid .swiper-slide:nth-child(7){display:block}
	.mainNews{height:312px;margin-top:333px;padding-top:0;padding-bottom:0;background-color:#fff}
	.mainNews h2{padding-top:20px;font-size:26px}
	.mainNews .main_btn_more{top:25px;right:20px}
	.mainNews .sbj{width:340px;font-size:16px}
	.mainNews pre{height:37px;font-size:14px}
	.mainNews li{margin-top:13px}
	.mainNews li:first-child{margin-top:10px}
	.mainNoti{height:175px}
	.mainNoti .main_btn_more{top:25px;right:20px}
	.mainNoti pre{-webkit-line-clamp:1;height:20px}
	.mainLocal{height:330px;padding:0}
	.mainLocal h2{padding-top:60px;line-height:1.3;font-size:22px;letter-spacing:-1px}
	.mainLocal h2, .mainLocal h2 strong{font-weight:normal}
	.mainLocal p{font-size:16px}
	.mainSkill{margin-top:333px;height:312px}
	.mainSkill p{height:112px}
	.mainVision{height:314px;;border-top:1px solid #d6d6d6}
	.mainVision p{overflow:hidden;height:33px}
	.mainVision h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
	.mainVision pre{-webkit-line-clamp:1;height:17px;margin-top:15px}
	.mainVision img{height:auto}
	.mainVision figure{overflow:hidden;height:110px}
	/*.mainPublic{height:227px}*/
	/* 20181205 css 추가 */
	.mainPublic{height:329px}
	.mainPublic h2{font-size:26px;font-family:'NanumSquare';color:#3b3b3b}
	/*.mainPublic pre{-webkit-line-clamp:2;height:32px;margin:15px 0 7px;font-size:13px;}*/
	.mainPublic pre{-webkit-line-clamp:1;height:17px;margin-top:15px;}
	.mainPublic img{height:auto}
	.mainPublic figure{overflow:hidden;height:110px}
	.mainPublic .plugin{height:109px;margin-top:20px;border-top:1px solid #d6d6d6}
	.mainPublic .plugin ul{margin-top:30px;}
	.mainPublic .plugin li{margin-top:18px;padding-top:18px;border-top:1px solid #ebebeb}
	.mainPublic .plugin li:first-child{margin-top:0;padding-top:0;border-top:0}
	.mainPublic .plugin .ellipsis{display:block;max-width:100%}
	.mainPublic .plugin a span{font-size:13px;color:#919191}
	.mainPublic .plugin a p{margin-bottom:2px;font-size:14px;color:#484848}

	.mainFb{height:241px}
	.mainFb h2{margin-top:25px;padding-top:0 !important}
	.mainFb h2{position:relative;padding-bottom:10px;text-align:center;color:#3b56ad}
	.mainFb h2:before{content:'';display:inline-block;position:absolute;top:12px;left:0;width:100%;height:1px;background-color:#c5c5c5}
	.mainFb h2 span{position:relative;z-index:10;display:inline-block;padding:0 7px;background-color:#fff}
	.mainFb .plugin{height:109px;margin-bottom:9px}
	.mainFb .plugin li{margin-top:12px;padding-top:12px;border-top:1px solid #ebebeb}
	.mainFb .plugin li:first-child{margin-top:0;padding-top:0;border-top:0}
	.mainFb .plugin .ellipsis{display:block;max-width:100%}
	.mainFb .plugin a span{font-size:13px;color:#919191}
	.mainFb .plugin a p{margin-bottom:2px;font-size:14px;color:#484848}
	.mainCulture{height:329px}
	.mainCulture pre{-webkit-line-clamp:2;height:38px;margin-top:10px}

	/* CI 메뉴 추가 */
	.about_ci .about_intro .stit:before{background-color:#fff}
	.about_ci .about_intro .stit{font-size:18px}
	.ci_left{width:45%;float:left;margin-bottom:30px}
	.ci_right{width:50%;float:right;text-align:right;max-width:412px}
	.ci_img{display:block;}
	.m_ci_img{display:none}
	.ci_download{margin-top:30px;text-align:left}
}

/*** Desktop Device ***/
@media all and (min-width:1000px) {
	.mainCt{float:none !important;width:1110px !important;margin:0 auto !important;padding-top:53px !important}
	.mainCt h2{padding-top:40px;padding-bottom:15px}
	.mainFt{border-top:0 !important}
	.mainRandom{top:53px;height:385px}
	.mainRandom .scene{padding:65px 65px 0 60px}
	.mainRandom .scene img{width:auto;height:auto}
	.mainRandom .scene h2{font-size:40px}
	.mainRandom .scene p{margin-top:0}
	.mainRandom .swiper-page{left:60px !important;bottom:35px !important}
	.mainSrv{height:383px}
	.mainSrv .img{width:338px;height:385px}
	.mainSrv i{margin-top:114px;}
	.mainSrv .txt{margin:30px 0 10px}
	.mainSrv .swiper-page{bottom:30px !important}
	.mainNews{height:374px;margin-top:385px}
	.mainNews h2{padding-top:40px}
	.mainNews .main_btn_more{top:44px;right:40px}
	.mainNews li{margin-top:22px}
	.mainLocal{height:384px;background-image:url(../../resources/images/w_main_local.png);background-size:auto auto}
	.mainLocal h2{padding-top:82px;font-size:26px}
	.mainNoti{height:230px}
	.mainNoti pre{-webkit-line-clamp:2;height:40px}
	.mainNoti .main_btn_more{top:44px;right:40px}
	.mainStock .link .ico_bu2{display:inline-block}
	.mainStock .total{top:57px;left:274px;font-size:36px}
	.mainStock .info{width:199px;margin-left:40px}
	.mainStock .link li{width:158px}
	.mainStock .link li:first-child{width:273px}
	.mainCulture{height:383px}
	.mainCulture pre{-webkit-line-clamp:3;height:56px}
	.mainSkill{height:374px;margin-top:385px}
	.mainSkill p{height:128px;font-size:14px}
	.mainVision{height:376px}
	.mainVision p{height:auto}
	.mainVision pre{margin:20px 0 4px;font-size:13px;-webkit-line-clamp:2;height:32px}
	.mainVision img{height:100%}
	.mainVision figure{overflow:visible;height:auto}
	/*.mainPublic{height:319px}
	.mainPublic p{overflow:hidden;height:33px}*/
	/* 20181205 css 추가 */
	.mainPublic{height:383px}	
	.mainPublic p{overflow:hidden;}
	.mainPublic pre{margin:20px 0 4px;font-size:13px;-webkit-line-clamp:2;height:32px}
	/*.mainPublic pre{margin:20px 0 4px;font-size:13px;-webkit-line-clamp:3;height:54px}*/
	.mainPublic img{height:100%}
	.mainPublic figure{overflow:visible;height:auto}

	.mainFb{height:234px}

	.activity_img, .activity_img2{margin:70px 0 35px}
	.activity_img h4{margin-bottom:5px;font-size:16px}
	.activity_img img{display:none}
	.activity_img .wb{display:inline}
	.activity_img2 img{display:none}
	.activity_img2 .wb{display:inline}

	.about_intro{font-size:14px;line-height:1.6}
	.about_intro .stit{padding-top:15px;line-height:1.2;font-size:32px}
	.about_intro .txt, .about_intro .txt2{font-size:16px}
	.about_intro .txt3{font-size:18px}
	.about_intro .txt{line-height:1.3}
	.about_intro .list th, .about_intro .list td{padding-top:10px;padding-bottom:10px;font-size:14px}
	.about_intro .list th, .about_intro .list:before{width:190px}
	.about_intro .list th{padding-left:13px}
	.about_intro .list td{padding-left:24px}
	.about_intro .list2 li{float:right;width:49%;height:134px}
	.about_intro .list2 li:first-child{float:left}
	.about_intro .list2 .tit, .about_intro .list2 li p{font-size:14px}
	.about_intro .list2 li p{padding:15px 15px 0 15px}
	.about_history th, .about_history:before{width:147px}
	.about_history li{padding:12px 15px 12px 76px;font-size:14px}
	.about_history li .month{top:12px;left:17px}
	.about_history th strong{width:108px;height:98px;line-height:98px;padding-left:10px;background-image:url(../../resources/images/w_com.png);background-size:auto auto;background-position:-130px -138px;font-size:30px}
	.about_history li.sub{padding-left:76px}
	.about_context{margin-top:50px;line-height:1.8;font-size:14px;color:#343434}
	.about_context strong{font-size:18px}
	.about_biz li{display:table;width:100%}
	.about_biz li:after{display:none}
	.about_biz .thum, .about_biz .context{display:table-cell;vertical-align:middle}
	.about_biz, .about_biz>p{font-size:14px}
	.about_biz>p strong{font-size:16px}
	.about_biz h2{font-size:18px}
	.about_biz .context{padding-left:25px}
	.about_biz .context p{line-height:1.7}
	.about_biz .context .stit{float:left}
	.about_biz .context .txt{overflow:hidden;display:inline-block;padding-left:4px;vertical-align:top}
	.about_biz .thum{float:none;width:184px}
	.about_bizReport{margin:115px 0 80px}
	.about_bizReport hgroup{margin-bottom:35px;font-size:16px}
	.about_bizReport hgroup:after{width:33px;height:2px}
	.about_bizReport hgroup h4{font-size:42px}
	.about_bizReport img{display:none}
	.about_bizReport .wb{display:inline}
	.about_map{margin-top:65px}
	.about_map .list{margin-top:55px}
	.about_map .list th, .about_map .list td{font-size:14px}
	.about_map .list th, .about_map .list:before{width:190px}
	.about_map .list th{width:191px;padding-left:12px}
	.about_map .list td{padding-top:12px;padding-bottom:12px;padding-left:22px}
	.about_map h4{padding-top:12px}
	.about_map h4:before{height:3px}
	.about_map .subway{margin-top:28px;padding:2px 0 0 26px;line-height:1.6;font-size:14px}
	.about_map .subway .stit{font-size:18px}
	.about_map .subway i{width:21px;height:28px;background-position:-239px -44px}

	/* CI 메뉴 추가 */
	.ci_download img{width:inherit;}
	.ci_img{max-width:inherit}

	.service_visual{padding-top:45px !important;font-size:20px;background-size:auto auto !important}
	.service_visual img{display:none}
	.service_visual h4{margin-top:0;line-height:1.2;letter-spacing:-2px;font-size:42px;color:#4d4d4d}
	.service_visual .txt{margin-top:40px;line-height:1.5;font-size:16px}
	.service_visual .txt2{line-height:1.5;font-size:16px}
	.service_visual .logo{width:190px;height:27px;margin:10px 0 40px;background-position:-326px -44px}
	.service_visual.pns{padding-bottom:65px;background:none}
	.service_visual.pns img.mw{display:none}
	.service_visual.pns img.web{display:inline;position:absolute;top:-90px;right:-125px}
	.service_visual.lop{padding-bottom:31px;background-image:url(../../resources/images/service_lop_img.png);background-position:100% 0}
	.service_visual.sepay{padding-bottom:15px;background-image:url(../../resources/images/service_sepay_img.png);background-position:262px 0}
	.service_visual.sepay .txt{margin-top:40px}
	.service_visual.smemo{padding-bottom:18px;background-image:url(../../resources/images/service_smemo_img.png);background-position:100% 0}
	.service_visual.smemo .txt2{margin-top:40px}
	.service_visual.stock{padding-bottom:0;background-image:url(../../resources/images/service_stock_img.png);background-position:100% 0}
	.service_visual.dsagun{padding-bottom:33px;background-position:256px 30px}
	.service_visual.memu{padding-bottom:46px;background-image:url(../../resources/images/service_memu_img.png);background-position:right -75px bottom}
	.service_visual.memu .txt{margin-top:40px}
	.service_visual.health{padding-bottom:60px;background-image:url(../../resources/images/service_health_img.png);background-position:100% 0}

	.service_visual.super{padding-bottom:50px;background-position:100% 30px}
	.service_visual.land_guard{padding-bottom:38px;background-position:100% 52px}
	.service_visual.walhouse{padding-bottom:64px;background-position:100% 30px}
	.service_visual.info{padding-bottom:104px;background-position:100% 10px}
	.service_visual.sfcash{padding-bottom:98px;background-position:100% 30px}
	.service_visual.shoppingcare{padding-bottom:20px;background-position:100% 30px}
	.service_visual.tior{padding-bottom:73px;background-position:100% -6px}

	.service_visual.apt:after{content:'';position:absolute;top:-72px;right:-90px;width:578px;height:467px;transform:none !important;left:auto !important}
	.service_visual.apt h4 {position:relative;z-index:2;}

	.service_context, .service_context h5{font-size:14px}
	.service_context h4{margin:75px 0 15px;font-size:20px}
	.service_context hgroup{margin:75px 0 15px}
	.service_context hgroup h4{margin:0}
	.service_context h5{color:#111}
	.service_context .txt{margin-top:10px;font-size:18px}
	.service_context .txt2{line-height:1.7;font-size:14px}
	.service_context .txt2 strong{font-weight:bold;font-size:18px}
	.service_context .txt3{margin-top:15px;font-size:14px}
	.service_context .txt3 strong{font-size:18px}
	.service_context .img{margin:65px 0 0 14px}
	.service_context .point_list li{width:auto;height:auto !important;line-height:1.3;font-size:14px}
	.service_context .point_list li:first-child{border-left:0}
	.service_context .point_list li:nth-child(3):after, .service_context .point_list li:nth-child(5):after{display:inline-block}
	.service_context .point_list li:after{bottom:auto;top:95px;width:22px;height:37px;background-image:url(../../resources/images/w_com.png);background-size:auto auto;background-position:-546px -44px}
	.service_context .point_list li h5, .service_context .point_list li p{margin:20px 0 5px;font-size:16px}
	.service_context .point_list li i{width:82px;height:82px;margin-bottom:4px;background-image:url(../../resources/images/w_service_icon.png);background-size:auto auto}
	.service_context .point_list .ico1{background-position:0 0}
	.service_context .point_list .ico2{background-position:-101px 0}
	.service_context .point_list .ico3{margin-bottom:12px;background-position:-204px 0}
	.service_context .point_list .ico4{margin-bottom:12px;background-position:-306px 0}
	.service_context .point_list .ico5{background-position:-409px 0}
	.service_context .point_list .ico6{background-position:-511px 0}
	.service_context .point_list .ico7{background-position:-612px 0}
	.service_context .point_list .ico8{background-position:0 -101px}
	.service_context .point_list .ico9{background-position:-101px -101px}
	.service_context .point_list .ico10{background-position:-203px -101px}
	.service_context .point_list .ico11{background-position:-306px -101px}
	.service_context .point_list .ico12{background-position:-409px -101px}
	.service_context .point_list .ico13{background-position:-510px -101px}
	.service_context .point_list .ico14{background-position:-612px -101px}
	.service_context .point_list .ico15{background-position:0 -202px}
	.service_context .point_list .ico16{background-position:-101px -202px}
	.service_context .point_list .ico17{background-position:-204px -202px}
	.service_context .point_list .ico18{background-position:-307px -202px}
	.service_context .point_list .ico19{background-position:-408px -202px}
	.service_context .point_list .ico20{background-position:-510px -202px}
	.service_context .point_list .ico21{background-position:-612px -200px}
	.service_context .point_list .ico22{background-position:0 -304px}
	.service_context .point_list .ico23{background-position:-100px -304px}
	.service_context .point_list .ico24{background-position:-202px -304px}
	.service_context .point_list .ico25{background-position:-303px -304px}
	.service_context .point_list .ico26{background-position:-408px -304px}
	.service_context .point_list .ico27{background-position:-612px -304px}
	.service_context .point_list .ico28{background-position:-510px -304px}
	.service_context .point_list.smemo li{height:auto;border-left:0}
	.service_context .img3{margin-top:30px}
	.service_context .timetable .list li{font-size:14px}
	.service_context .timetable h5{font-size:16px}
	.service_caution_list{margin-top:35px}
	.service_caution_list li{margin-top:5px;font-size:14px}
	.service_context .list2{display:block}
	.service_context .list2:after{display:block;clear:both;content:''}
	.service_context .list2 h5{padding:0;line-height:42px;font-size:14px}
	.service_context .list2>li{float:left;width:249px;margin-top:0;margin-left:36px;font-size:14px}
	.service_context .list2>li p{padding:20px 15px}
	.service_context .list2>li:first-child{margin-left:0;width:248px}
	.service_context .list2>li:before, .service_context .list2>li:after{display:none}
	.service_context .list2.dasgun>li{height:170px;padding-bottom:0}

	.service_context.pns .list2>li{height:233px}
	.service_context.pns .point_list li{padding-left:71px}
	.service_context.pns .point_list li:after{left:26px}
	.service_context.lop .list2>li{height:191px}
	.service_context.lop .point_list li{padding-left:127px}
	.service_context.lop .point_list li:after{left:55px}
	.service_context.sepay .list2>li{height:212px}
	.service_context.sepay .point_list li{padding-left:76px}
	.service_context.sepay .point_list li:after{left:33px}
	.service_context.smemo .list2>li{height:202px}
	.service_context.smemo .point_list li{padding-left:51px}
	.service_context.smemo .point_list li:after{left:15px}
	.service_context.stock .list2>li{height:202px}
	.service_context.stock .point_list li{padding-left:42px}
	.service_context.stock .point_list li:after{left:15px}
	.service_context.dsagun .list2>li{height:202px}
	.service_context.dsagun .point_list li{padding-left:78px}
	.service_context.dsagun .point_list li:after{left:27px}
	.service_context.memu .list2>li{height:170px}
	.service_context.memu .point_list li{padding-left:55px}
	.service_context.memu .point_list li:after{left:23px}

	.welfare_list:before, .welfare_list .list th{width:190px}
	.welfare_list .list th, .welfare_list .list td{padding-top:10px;padding-bottom:10px;font-size:14px}
	.welfare_list .list th{padding-left:13px}
	.welfare_list .list td{padding-left:24px}

	#container.sitemap, #container.sitemap #ct{border-left:0}
	#container.sitemap #ct{width:1070px;float:none;margin-left:0;padding:0 0 95px 44px}
	.sitemap section{padding-top:100px}
	.sitemap section:after{display:block;clear:both;content:''}
	.sitemap h1{float:left;width:202px;font-size:32px}
	.sitemap ul{float:left;margin-top:0}
	.sitemap li{height:232px;padding-left:18px;border-left:1px solid #e7e7e7}
	.sitemap li{width:180px !important}
	.sitemap li.m5{width:auto !important;overflow:hidden}
	.sitemap ul ul{float:none}
	.sitemap h2{font-size:16px}
	.sitemap li li{height:auto;margin-top:10px;padding-left:0;border-left:0}
	.sitemap li li a{line-height:1.3;font-size:14px}
	.sitemap .bn{margin-top:95px}

	.error{margin:60px 0 200px 0;}
	.error .ico_error img{width:121px;}
	.error h3{font-size:24px;margin-top:40px;}
	.error p{font-size:16px;letter-spacing:0}

	.service_context.apt .point_list i {margin-bottom:4px !important;}

}

@media all and (max-width:1000px) {
	.service_context .point_list {display:block;}
}

/*** IE8을 위한 Hack ***/
@media \0screen{
	.mainSkill a{padding:0 13px}
	.welfare_list:before, .about_intro .list:before, .about_map .list:before{width:190px}
	.about_history:before{width:147px}
	.service_context .point_list li:after{bottom:auto;top:95px;width:22px;height:37px;background-image:url(../../resources/images/w_com.png);background-position:-546px -44px}
	.service_context .point_list li p{font-size:14px !important}
	.service_context.pns .point_list li:after{left:26px}
	.service_context.lop .point_list li:after{left:55px}
	.service_context.sepay .point_list li:after{left:33px}
	.service_context.smemo .point_list li:after{left:15px}
	.service_context.stock .point_list li:after{left:15px}
	.service_context.dsagun .point_list li:after{left:27px}
	.service_context.memu .point_list li:after{left:23px}
}


/* 코로나 팝업 */
.cheerPop .bg{opacity:0.85}
#covid *{font-family:'Noto Sans KR';letter-spacing:-1px}
#covid .popcls{right:0;top:-23.5px;width:17px;height:17px;background:url(../images/covid_close.png) no-repeat 50% 50%;background-size:100% 100%}
#covid p br{display:block !important}
#covid .desc{padding:35px 10px 30px;border:2px solid #faa61a;background:#fff;color:#000;}
#covid .hashTag{margin-bottom:18px}
#covid .hashTag strong{display:inline-block;position:relative;font-size:25px;font-weight:600;z-index:1;line-height:1.2}
#covid .hashTag strong:after{content:'';display:block;width:100%;height:5px;position:absolute;left:0;right:0;bottom:2px;background-color:#faa61a;z-index:-1}
#covid p{margin-bottom:16px;font-weight:400;font-size:13px;line-height:1.5}
#covid .our{font-weight:600;font-size:13px}
#covid .logo{display:block;margin-top:9px}

.pop_chk{background:#000;color:#fff;padding:10px 14px;position:relative;}
.pop_chk:after { content: ''; display: block; clear: both; }
.pop_chk .chk { position:relative;font-size:16px; line-height:20px;height:20px }
.pop_chk .chk input { position: absolute; left: -9999px; width: 0; height: 0; }
.pop_chk .chk input[type="checkbox"]:checked + .chkIcon { background-image: url("../images/agree_chk_on.png"); }
.pop_chk .chk label{text-align:left;color:#fff;padding-left:26px;font-size:15px;font-weight:300}
.pop_chk .chk .chkIcon { display: block; left: 0; top: 0; width: 100%; height: 26px; background-image: url("../images/agree_chk.png"); background-repeat: no-repeat; background-size:20px auto; transform: translateY(0); -webkit-transform: translateY(0); cursor: pointer; }
.pop_chk .btn_chk_close{color:#fff;position:absolute;right:14px;top:10px;height:20px;font-size:13px;font-weight:300;line-height:20px}
.sub_txt {font-size:16px;font-weight:700;color:#424242}
@media all and (min-width: 1000px) {
	#covid{width:680px;}
	#covid .popcls{top:-47px;width:34px;height:34px}
	#covid .desc{width:100%;padding:70px 10px 60px;border:4px solid #faa61a;letter-spacing:-2px;}
	#covid .hashTag{margin-bottom:36px}
	#covid .hashTag strong{display:inline-block;position:relative;font-size:40px;font-weight:600;z-index:1;line-height:1.2}
	#covid .hashTag strong:after{content:'';display:block;width:100%;height:10px;position:absolute;left:0;right:0;bottom:3px;background-color:#faa61a;z-index:-1}
	#covid p{margin-bottom:32px;font-weight:400;font-size:18px;line-height:1.5}
	#covid .our{font-weight:600;font-size:18px}
	#covid .logo{display:block;margin-top:12px}

	.pop_chk .btn_chk_close{top:9px;}
}

@media all and (max-width:320px) {
	#covid p:nth-of-type(1) br{display:none !important}
}