@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url(font/NanumGothic-Regular.eot);
  src: local(※), url(font/NanumGothic-Regular.woff) format('woff')
}

@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: bold;
  src: url(font/NanumGothic-ExtraBold.eot);
  src: local(※), url(font/NanumGothic-ExtraBold.woff) format('woff')
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: normal;
  src: url(font/NanumSquareR.eot);
  src: local(※), url(font/NanumSquareR.woff) format('woff')
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: bold;
  src: url(font/NanumSquareB.eot);
  src: local(※), url(font/NanumSquareB.woff) format('woff')
}

@font-face {
  font-family: 'frutiger65bold';
  font-style: normal;
  font-weight: bold;
  src: url(font/frutiger65-bold.eot);
  src: local(※), url(font/frutiger65-bold.woff) format('woff')
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,600&display=swap');
/* font-family: 'Noto Sans KR' */