@charset utf-8;

body{}

#wrap {width:100%;}
#header_wrap {position:relative; margin:0 auto;  height:115px; border-bottom:3px solid #03C; }
#header {position:relative; width:1098px; margin:0 auto;  height:115px; }
#header .h1 {padding-top:48px;}
#header .top_menu {position:absolute;top:15px;right:0px;font-color:#838383;font-family:dotum,"돋움";font-size:11px;width: 175px; float:right;}
#header .top_menu .line{padding:2px 3px 0 8px;}
#header .gnb {position:absolute;top:64px;right:0;}
#header .gnb li {float:left;padding:0 0 0 70px;}


/*메인*/
#container_wrap{width:100%; background-color:#cee5f7; }
#container_wrap .container{width:1098px; margin:0 auto;position:relative; height:700px;}
#container_wrap .container_plus{ display:block;}
.container ul{position:relative;float:left;}
.container ul li{float:left;}
.left_con {width:560px; height:659px;border-left:1px solid #aec7e6; border-right:1px solid #aec7e6;}
.left_con ul{position:relative;float:left;}
.left_con ul li{float:left;}
.main_img{position:absolute;top:0;right:0;}
.notice_m {background:#fff;width:223px;height:97px;padding:28px;;position:relative;}
.notice_m ul {width:223px; display:block;}
.notice_m ul li { line-height:20px;width:223px;}
.more {position:absolute;top:38px;right:30px;}
.sheet{width:280px;border-left:1px solid #aec7e6; height:153px; background:#fff;}
.sheet_pa{padding-top:34px; padding-left:17px;}


/*서브*/
#container_sub_wrap{width:100%; }
#container_sub{width:1098px; margin:0 auto;position:relative;border-left:1px solid #d4dcec; border-right:1px solid #d4dcec; zoom:1;}
#container_sub:after{ content:""; clear:both; display:block;}
#left { width:200px; float:left; }
#left .sub_menu {font-size: 14px;color: #767676;font-family: dotum,돋움;}
#left .sub_menu>li{border-bottom:1px solid #d4dcec;padding:14px 0 14px 25px; font-weight:bold;}
#left .sub_menu .on> a { width:150px; font-weight:bold; color:#3069d2; background:url(/images/left_arrow.gif) no-repeat  right top; display:inline-block; }
#sub_contents {width:832px;padding-left:65px; padding-bottom:70px;float:right;border-left:1px solid #d4dcec;min-height:700px; font-size: 12px;color: #6c6c6c;
               font-family: dotum,돋움; line-height:20px; font-weight:none;}
#sub_contents .location { width:800px; height:30px;font-size: 11px;color: #767676;font-family: dotum,돋움;padding-top:18px; padding-right:25px; text-align:right;}
.ceo_img {width:764px; height:157px; background:url(/images/ceo_img.gif) no-repeat;}
.ceo_img p{padding:60px 0 0 220px;}
.history_back { width:765px; height:2239px; background:url(/images/history_back.gif) no-repeat;}
.history_back p{padding:3px 0 0 205px; font-family: dotum,돋움; line-height:35px; }
.icon_back01 { width:765px; height:41px; background:url(/images/pns_icon.gif) no-repeat; padding-left:50px;padding-top:10px;}
.icon_back02 { width:765px; height:41px; background:url(/images/pns_icon2.gif) no-repeat; padding-left:50px;padding-top:10px;}
.sub_title_back { width:765px; height:35px; background:url(/images/txt_title_back.gif) no-repeat; text-align:center; padding-top:7px;}
.icon_lop_back01 { width:765px;  background:url(/images/lop_icon1.gif) no-repeat; padding-left:50px;padding-top:10px;}
.icon_lop_back02 { width:765px;  background:url(/images/lop_icon2.gif) no-repeat; padding-left:50px;padding-top:10px;}
.icon_lop_back03 { width:765px;  background:url(/images/lop_icon3.gif) no-repeat; padding-left:50px;padding-top:10px;}
.icon_lop_back04 { width:765px; height:41px; background:url(/images/lop_icon4.gif) no-repeat; padding-left:50px;padding-top:10px;}
.sitemap_back { width:780px; height:199px; background:url(/images/sitemap_back1.gif) no-repeat;}
.sitemap_back2 { width:780px; height:153px; background:url(/images/sitemap_back2.gif) no-repeat;}
.sitemap{width:240px; padding-left:20px; padding-top:50px; float:left;}

표작성
.cmn_tbl{width:90%;table-layout:fixed;}
.txt_c{padding:7px 0px 7px 0px;text-align:center; background:#fff;}
.cmn_tbl th{padding:7px 0 7px 0;font-weight:bold;text-align:center;background-color:#f4f4f4;border:1px solid #d7d7d7;line-height:18px;}
.cmn_tbl td{padding:7px 0 7px 15px;text-align:left;border:1px solid #d7d7d7;line-height:35px;}


/**게시판**/
.cont_view {padding:0 0px; width:765px;}

/* page_list */
div.page_list {text-align:center;margin-top:25px; width:765px;}
div.page_list a {font-weight:bold;}
div.page_list img {vertical-align:middle;}

/* table */
table {width:100%;}
table .bor_r {border-right:1px solid #d8d8d8;}
table .no_bo {border-bottom:none!important;}
table .no_top {border-top:none!important;}
table  .bor_g {border-bottom:1px solid #dfdfdf!important;}

table.notice { background:url(/images/board_back.gif) no-repeat;}
table.notice thead th {height:40px;text-align:center;color:#595959;vertical-align:middle;}
table.notice td {text-align:center;border-bottom:1px solid #d1d1d1;height:35px;vertical-align:middle;}
table.notice td.tit {text-align:left;}

table.notice_view {margin-bottom:0px;}
table.notice_view .bor_g {border-bottom:1px solid #dfdfdf!important;}
table.notice_view thead th {padding:10px 0;background:#fafafa;color:#595959;text-align:center;}
table.notice_view thead th, table.notice_view thead td {border-top:1px solid #727272;border-bottom:1px solid #d3d3d3;}
table.notice_view td {padding:10px 20px;border-bottom:1px solid #d3d3d3;}

table.tbl_reply {margin-bottom:20px;}
table.bottomline {border-bottom: 1px solid #C2C2C2; margin-top:5px; margin-bottom:5px;}
table.tbl_reply thead th {padding:10px 0;background:#e4f9e2;color:#8ac083;text-align:center;}
table.tbl_reply thead th, table.tbl_reply thead td {border-top:1px solid #aedca8;border-bottom:1px solid #aedca8;}
table.tbl_reply td {padding:10px 20px;border-bottom:1px solid #aedca8;}

table.tbl_gua {border-top:3px solid #a3a3a3;}
table.tbl_gua th {color:#000;background:#fcf9f0;}
table.tbl_gua th, table.tbl_gua td {padding:13px 20px;border-bottom:1px solid #a3a3a3;}
table.tbl_gua td {background:#fbfbfb;}
table.tbl_gua td p {margin-bottom:3px;}
table.tbl_gua td input[type="text"], table.tbl_gua td select {border:1px solid #c2c1c2;vertical-align:middle;}
table.tbl_gua .last th, table.tbl_gua .last td {border-bottom:3px solid #a3a3a3;}
table.tbl_gua label.l_block {display:inline-block;width:100px;}
table.tbl_pa th, table.tbl_pa td {padding-left:0;padding-right:0;}

table.bbsViewD {border-bottom: 1px solid #C2C2C2; width: 100%;}
table.bbsViewD th, .bbsViewD td {border-top: 0px solid #E4E4E4; padding: 10px 0;}
table.bbsViewD th {color: #2fa6e8;  padding-left: 30px; text-align: left;}
table.bbsViewD th.next { background:url(/images/bbs_arr01.gif) no-repeat scroll 80px center transparent; width: 65px;}
table.bbsViewD th.prev {background: url(/images/bbs_arr02.gif) no-repeat scroll 80px center transparent; width: 65px;}
table.bbsViewD td {padding-left: 9px;}

table.reply td table td {padding:10px;border-bottom:1px solid #ddd;}
div.board01 { background:#ebebeb; width:730px;}
table.tab_btn {text-align:center;width:730px;border-collapse:collapse;border-right:1px solid #fff;}
table.tab_btn td {padding:0;margin:0; font-size:14px; font-family:돋움; font-weight:bold;}
table.tab_btn td a {height:47px;line-height:47px;display:block;background:#c7c7c7;border-left:1px solid #fff;border-bottom:1px solid #fff;border-top:1px solid #fff;}
table.tab_btn td a.on {border-bottom:1px solid #fff;background:#484848;font-weight:bold; color:#fff;}
.tab_box { margin:30px; 0;}
div.tab_btn { position:relative; margin:0 auto; width:100%; background:#fff; padding:10px 0; display:inline-block; border:1px solid #8ec0f2;text-align:center; }
.total_btn {text-align:center;width:710px;clear:both; margin-bottom:35px;}
.delete {text-align:center;width:300px;}






/*푸터*/
#footer{position:relative; margin:0 auto; border-top:1px solid #bdcfe8; background-color:#FFFFFF; clear:both; }
#footer .adress{position:relative; width:1098px; margin:0 auto;  }
#footer .f_img{margin:25px;display:inline-block; }
#footer .familysite { margin: 25px 0 0 0;width:170px;height:20px;position:absolute; top:5px; right:10px; z-index:1000; }
#footer .familysite p.selTxt{background:#fff url(/images/foot_arrow.gif) no-repeat 100% 100%;border: 1px solid #DDDDDD;}
#footer .familysite p.selTxt a {display: block;font-size: 10px;height: 15px;line-height: 10px;padding: 5px 0 0 13px; }
#footer .familysite ul {background: none repeat scroll 0 0 #f5f5f5;border: 1px solid #DDDDDD;left: -1px;padding: 7px 10px 6px; margin-top:-130px; z-index:1001; }
#footer .familysite ul li { background: none repeat scroll 0 0 transparent; }
#footer .familysite ul li a { display: block; font-size: 11px; line-height: 12px; padding: 7px 0 4px 2px; }

#footer #family{position:absolute;left:0;display:none;width:170px}


/* 공통요소 */
.fl { float:left;}
.fr { float:right; }
.mt10 { margin-top:10px; display:inline-block;}
.mt15 { margin-top:15px; display:inline-block;}
.mt35 { margin-top:35px; display:inline-block;}
.mt60 { margin-top:60px; display:inline-block;}
.mb5  { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }
.mb35 { margin-bottom:35px; }
.mr10 {margin-right:10px;}
.mg_t10{margin-top:10px;}
.middle { vertical-align: middle; }
.c_blue {color:#5067da;}
.c_orange {color:#ff473f;}
.c_cyans {color:#4f9dce;}
.bk_white { background-color:#FFF;}
.txt_b{font-weight:bold;}
.ft_14b {font-size:14px; font-weight:bold;}
.center{ text-align:center;display:inline-block;width:710px;}

/*팝업CSS추가*/
.layer_popup{
 position:absolute;
 top:50px;
 left:400px;
 display: inline-block;
 z-index:10;
}

.footer_sns{position:absolute; top:60px; right:10px}


/*150605_서비스추가*/
.fl50 {padding-left:55px;}


/*150623_메인변경*/
#container_wrap_new{width:100%; background-color:#fff; }
#container_wrap_new .container2{width:1100px; margin:0 auto;position:relative;}
.container2 .txt{ margin:60px 0; text-align:center;} 
.container2 .service{ width:1100px; height:460px;}
.container2 .service li{float:left;}
#container_wrap_gray{width:100%; background-color:#eaeff5;height:240px; margin-top:65px;}
#container_wrap_gray .container3{width:1100px; margin:0 auto;position:relative; }
.container3 li{float:left;}
#container_wrap_rolling1{width:100%; min-width:1098px; background:url(/images/150623/spot_images1.jpg) no-repeat 50% 0;height:515px; position:absolute; top:0px; left:0px; z-index:99;}
#container_wrap_rolling2{width:100%; min-width:1098px; background:url(/images/150623/spot_images2.jpg) no-repeat 50% 0; height:515px;  position:absolute; top:0px; left:0px; z-index:99;}
.main_rolling_new{margin:0 auto; position:absolute; z-index:999; top:338px; right:50px;}

#noti_wrap{width:100%; min-width:1098px;position:absolute; top:484px; z-index:100; height:148px; background:url(/images/150623/noti_back.png); float:left;}
.noti_area{width:1100px; margin:0 auto;}
.noti_area li{ float:left;}
.noti_new {width:390px;height:97px;padding-right:50px; padding-top:30px; font-family:'돋움',doutm;font-size:14px; color:#fff; position:relative;}
.noti_new ul { display:block; padding-top:5px;}
.noti_new ul li {color:#fff; width:390px;}
.noti_new ul li a{width:280px; float:left; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; color:#d4d4d5;}
.noti_new ul li span { float:right; color:#7f7f80; display:inline-block; padding-left:10px;}
.noti_new .more{position:absolute; top:30px;right:50px; font-size:12px; color:#7f7f80; }
.noti_new .more a{text-decoration:underline;color:#7f7f80; }
.sns_new{ width:170px; height:96px; border-left:1px solid #7f7f80; margin-top:30px; padding-left:10px; } 
.sns_new ul{ margin-left:20px; }
.sns_new li{display:block; line-height:34px;}
.sns_new li a{font-weight:bold; color:#959496; font-family:'돋움', doutm; margin-left:15px; padding-top:5px; vertical-align:-4px; }
.title_txt{margin-top:10px; }


/*150805 css추가*/
.ir_sub ul li{ font-size:12px; font-weight:normal;text-decoration:none; line-height:20px;}
.ir_sub ul{list-style:none;padding:10px 0 0 0;  }
.ir_sub ul a{ text-decoration:none;}

.if_st{font-family:'돋움', doutm; font-size:12px; line-height:18px;}
.ir_list{width:765px; border-top:solid 2px #767676; font-family:'돋움',doutm; color:#6c6c6c; font-size:12px; line-height:16px;}
.ir_list .con{padding:18px 10px; border-bottom:1px solid #d1d1d1;}
.con .list_title{font-size:14px; font-weight:bold; padding-bottom:5px;}
.con .txt_day{color:#709ddb;}

/*150817 css추가(다운로드)*/
.notice_view p{text-align:left; padding:10px;}