@charset "utf-8";

@import url(font.css);

*{margin:0;padding:0;}
html{}
body{color:#2f2f2f;font:12px/18px 'NanumBarunGothic', Verdana, "돋움", Dotum, Sans-serif;}
h1,h2,h3,h4,h5{font-size:100%;}
a:link, a:hover, a:active, a:visited, a:focus{color:#595959;text-decoration:none;}
ul, ol, li{list-style:none;}
table{width:100%;border-collapse:collapse;}
colgroup{background:none;}
input, select, textarea{vertical-align:middle;font:12px/18px 'NanumBarunGothic', Verdana, "돋움", Dotum, Sans-serif;}
label{vertical-align:middle;}
textarea{padding:5px;border:1px solid #babfb4;}
fieldset, img{border:0;}
img{vertical-align:top;border:0;}
legend, caption{visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
address, em{font-style:normal;}
hr{display:none;}
.hide{ display:none;visibility:hidden;position:absolute;padding:0;border:0; background:none;font-size:0;line-height:0;}
.over{cursor:pointer;}

.input_txt {
	height: 19px;
	font-size: 12px;
	border-color: #999 #d8d8d8 #d8d8d8 #999;
	border-style: solid;
	border-width: 1px;
	color: #000;
	font-family:'NanumBarunGothic',dotum,돋움;
	padding: 0px 0 0 5px;
	vertical-align:middle;
}
