@charset "UTF-8";

@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: normal;
	font-style: normal;
	src:url(font/NanumBarunGothic.eot);
	src:url(font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
		 url(font/NanumBarunGothic.woff) format('woff'),
		 url(font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: bold;
	font-style: normal;
	src:url(font/NanumBarunGothicBold.eot);
	src:url(font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
		 url(font/NanumBarunGothicBold.woff) format('woff'),
		 url(font/NanumBarunGothicBold.ttf) format('truetype');
}